nav {
  display: grid;
  grid-template-columns: 4fr 1fr;
  border-bottom: solid black;
  height: 60px;
  max-width: 100vw;
  background-color: rgb(7, 109, 177);
  margin-bottom: 5%;
  align-content: center;
}

body {
  margin: 0;
  height: 100vh;
  max-width: 100vw;
  background-color: rgb(205, 206, 173);
}

form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
}

p {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  margin-left: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact {
  margin-left: 5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.photo {
  height: 200px;
  border: solid black;
  margin-right: 2%;
}

header {
  font-size: xx-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: solid black;
  background-color: rgb(7, 109, 177);
}

.github {
  height: 50px;
}
